<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
</head>
  <body>
    <div id="contents" class="text-center">
    <h1>stalkker</h1>
    <form action='stalking' method='get' class="form-inline">
      <div class="input-group">
        <div class="input-group-addon">@</div>
        <input type="text" class="form-control" name='target' placeholder="screen name">
      </div>
    <button type="submit" class="btn btn-primary">ストーキングする</button>
    </form>
        <p>ストーキング対象がフォローしているひと全員をあなたの 1 つのプライベートリストに入れてタイムラインをクローンします</p>
        <p>あなたがストーキングしていることは対象には知らされません</p>
        <p>あなたがフォローしていない鍵垢はリストには入れることができません</p>
        <p>認証してから 5 分ほどで完了しますが、API 制限によって最大 1 日ほど時間がかかる場合があります。</p>
        <p>不具合は <a href="https://twitter.com/roronya">@roronya</a> まで</p>
    </div>
  </body>
</html>
