<!DOCTYPE html>
<html>
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</head>
  <body>
    <div id="contents" class="text-center">
    <h1>stalkker</h1>
    <form action='stalking' method='get' class="form-inline">
      <div class="input-group">
        <div class="input-group-addon">@</div>
        <input type="text" class="form-control" name='target' placeholder="screen name">
      </div>
    <button type="submit" class="btn btn-primary">ストーキングする</button>
    </form>
        <p>ストーキング対象がフォローしているひと全員をあなたの 1 つのプライベートリストに入れてタイムラインを復元します</p>
        <p>あなたがストーキングしていることは対象には知らされません</p>
        <p>あなたがフォローしていない鍵垢はリストには入れることができません</p>
        <p>認証してから 1 分から 5 分ほどかかります</p>
        <p>不具合は @roronya まで</p>
    </div>
  </body>
</html>
